<div ng-app = 'myApp' ng-controller = 'dashboardController'>
	<div class='row'>
	<div class ='col-md-10 col-md-offset-1'>
		<h3 class='text-center'>Mission Control</h3>
		<h4>Current Inventory</h4>
		<div class = 'products' ng-repeat = "product in products | filter: { name: filter_name }">
			<img ng-src = '{{ product.url }}' height = 120px width = 90px>
			<div ng-if='product.quantity <= 0'>
				<p class = 'outofstock' ng-bind = 'product.name'></p>
				<p class = 'outofstock'>(<span ng-bind = 'product.quantity'></span> in Debt)</p>
			</div>
			<div ng-if='product.quantity > 0'>
				<p class = 'product' ng-bind = 'product.name'></p>
				<p class = 'product'>(<span ng-bind = 'product.quantity'></span> left)</p>
			</div>
		</div>

		<h4>New Orders</h4>
		<p ng-repeat = "order in orders | filter: { name: filter_name }"><span ng-bind = 'order.name'></span> purchased <span ng-bind = 'order.quantity'></span> <span ng-bind = 'order.product'></span>.</p><br><br>

		<h4>New Customers</h4>
		<p ng-repeat = "customer in customers | filter: { name: filter_name }"><span ng-bind = 'customer.name'></span> has joined the store.</p>
	</div>
</div>
</div>